@charset "UTF-8";
html {
    font-family: nerd;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body {
    margin: 0;
    padding: 0;
    background: #13140F;
    font-weight: 300;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #8a8a8a;
    font-family: nerd;
    font-weight: 300;
}
article,
aside,
footer,
header,
nav,
section {
    display: inline-block
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}
main {
    display: block
}
pre {
    font-family: nerd;
    font-size: 1em
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    line-height: inherit;
    color: #D4FF00;
    text-decoration: none;
    cursor: pointer;
}
a:active,
a:hover {
    outline-width: 0
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}
b,
strong {
    font-weight: bolder;
}
small {
    font-size: 80%
}
html {
    box-sizing: border-box;
    font-size: 100%
}
*,
:after,
:before {
    box-sizing: inherit
}
img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic
}

button {
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    background: transparent;
    line-height: 1
}
[data-whatinput=mouse] button {
    outline: 0
}
dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
pre,
td,
th,
ul {
    margin: 0;
    padding: 0
}
p {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    text-align: justify;
}
em,
i {
    font-style: italic;
    line-height: inherit
}
b,
strong {
    font-weight: 600;
    line-height: inherit
}
small {
    font-size: 80%;
    line-height: inherit
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    text-rendering: optimizeLegibility
    color: #fefefe; 
    font-family: nerd;
    font-weight: 700;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    line-height: 0;
    color: #cacaca
}
h1 {
    font-size: 1.5rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0.5rem
}
h2 {
    font-size: 1.25rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0.5rem
}
h3 {
    font-size: 1.1875rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0.5rem
}
h4 {
    font-size: 1.125rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0.5rem
}
h5 {
    font-size: 1.0625rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0.5rem
}
h6 {
    font-size: 1rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0.5rem
}
@media print,
screen and (min-width: 40em) {
    h1 {
        font-size: 3rem
    }
    h2 {
        font-size: 2.5rem
    }
    h3 {
        font-size: 1.9375rem
    }
    h4 {
        font-size: 1.5625rem
    }
    h5 {
        font-size: 1.25rem
    }
    h6 {
        font-size: 1rem
    }
}
a {

}
a:focus,
a:hover {
    color: #b6db00
}
a img {
    border: 0
}
hr {
    clear: both;
    max-width: 75rem;
    height: 0;
    margin: 1.25rem auto;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #cacaca;
    border-left: 0
}
dl,
ol,
ul {
    margin-bottom: 1rem;
    list-style-position: outside;
    line-height: 1.6
}
li {
    font-size: inherit
}
ul {
    margin-left: 1.25rem;
    list-style-type: disc
}
ol {
    margin-left: 1.25rem
}
ol ol,
ol ul,
ul ol,
ul ul {
    margin-left: 1.25rem;
    margin-bottom: 0
}
dl {
    margin-bottom: 1rem
}
dl dt {
    margin-bottom: 0.3rem;
    font-weight: 600
}

.subheader {
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    font-weight: 300;
    line-height: 1.4;
    color: #e6e6e6
}

@media print {
    * {
        background: transparent!important;
        box-shadow: none!important;
        color: black!important;
        text-shadow: none!important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    .ir a:after,
    a[href^='#']:after,
    a[href^='javascript:']:after {
        content: ''
    }
    @page {
        margin: 0.5cm
    }
    h2,
    h3,
    p {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
}

.highlight {
    color: #D4FF00
}
.container {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto
}
.container:after,
.container:before {
    display: table;
    content: ' '
}
.container:after {
    clear: both
}
.section {
    position: relative;
    min-height: 100vh;
    min-width: 100%
}
.content {
    width: 83.33333%;
    float: left;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto
}
.content,
.content:last-child:not(:first-child) {
    float: none;
    clear: both
}
.content h1.hero {
    letter-spacing: 1px;
    line-height: 1;
    font-size: 36px;
    text-shadow: 10px 2px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem
}
.content .content-title {
    padding-top: 5px
}

.vertical-nav {
    display: none;
    position: fixed;
    list-style: none;
    top: 50%;
    bottom: auto;
    right: 40px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1005
}
.vertical-nav li {
    text-align: right;
    height: 37px
}
.vertical-nav a {
    color: #fefefe
}
.vertical-nav span.dot {
    float: right;
    top: 4px;
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 4px solid;
    border-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    transition: background-color 0.5s, -webkit-transform 0.2s;
    transition: transform 0.2s, background-color 0.5s;
    transition: transform 0.2s, background-color 0.5s, -webkit-transform 0.2s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7)
}
.vertical-nav span.label {
    margin-right: 0.5rem;
    opacity: 0;
    font-family: nerd;
    font-size: 80%;
    text-transform: uppercase;
    transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s
}
.vertical-nav a:hover span.label {
    opacity: 1
}
.vertical-nav a:hover span.dot {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    border-color: white
}
.vertical-nav .active span.dot {
    background: #fefefe
}
.vert-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}
#intro {
    height: 100vh
}
#intro:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.about-body {
    font-size: 1.2rem
}
.about-body .content-1 {
    color: inherit
}
.about-body .content-2 {
    color: #8a8a8a
}

.clients {
    margin-left: 0;
    padding: 2rem 0;
    list-style: none;
    overflow: auto
}
.clients>li {
    float: left;
    width: 50%;
    padding-right: 0.625rem;
    padding-left: 0.625rem
}
@media print,
screen and (min-width: 40em) {
    .clients>li {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem
    }
}
.clients>li:nth-of-type(1n) {
    clear: none
}
.clients>li:nth-of-type(odd) {
    clear: both
}
.clients>li:last-child {
    float: left
}
.clients li {
    margin-bottom: 2rem
}
.button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 1rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    color: #fefefe
}
[data-whatinput=mouse] .button {
    outline: 0
}
.button:focus,
.button:hover {
    color: #fefefe
}
.button.tiny {
    font-size: 0.6rem
}
.button.small {
    font-size: 0.75rem
}
.button.large {
    font-size: 1.25rem
}
.button.expanded {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0
}
.button.primary {
    background-color: #D4FF00;
    color: #13140F
}
.button.primary:focus,
.button.primary:hover {
    background-color: #aacc00;
    color: #13140F
}
.button.secondary {
    background-color: #767676;
    color: #fefefe
}
.button.secondary:focus,
.button.secondary:hover {
    background-color: #5e5e5e;
    color: #fefefe
}
.button.success {
    background-color: #3adb76;
    color: #13140F
}
.button.success:focus,
.button.success:hover {
    background-color: #22bb5b;
    color: #13140F
}
.button.warning {
    background-color: #ffae00;
    color: #13140F
}
.button.warning:focus,
.button.warning:hover {
    background-color: #cc8b00;
    color: #13140F
}
.button.alert {
    background-color: #cc4b37;
    color: #fefefe
}
.button.alert:focus,
.button.alert:hover {
    background-color: #a53b2a;
    color: #fefefe
}
.button.hollow {
    border: 1px solid #D4FF00;
    color: #D4FF00
}
.button.hollow,
.button.hollow:focus,
.button.hollow:hover {
    background-color: transparent
}
.button.hollow:focus,
.button.hollow:hover {
    border-color: #6a8000;
    color: #6a8000
}
.button.hollow.primary {
    border: 1px solid #D4FF00;
    color: #D4FF00
}
.button.hollow.primary:focus,
.button.hollow.primary:hover {
    border-color: #6a8000;
    color: #6a8000
}
.button.hollow.secondary {
    border: 1px solid #767676;
    color: #767676
}
.button.hollow.secondary:focus,
.button.hollow.secondary:hover {
    border-color: #3b3b3b;
    color: #3b3b3b
}
.button.hollow.success {
    border: 1px solid #3adb76;
    color: #3adb76
}
.button.hollow.success:focus,
.button.hollow.success:hover {
    border-color: #157539;
    color: #157539
}
.button.hollow.warning {
    border: 1px solid #ffae00;
    color: #ffae00
}
.button.hollow.warning:focus,
.button.hollow.warning:hover {
    border-color: #805700;
    color: #805700
}
.button.hollow.alert {
    border: 1px solid #cc4b37;
    color: #cc4b37
}
.button.hollow.alert:focus,
.button.hollow.alert:hover {
    border-color: #67251a;
    color: #67251a
}
.button.disabled,
.button[disabled] {
    opacity: 0.25;
    cursor: not-allowed
}
.button.disabled:focus,
.button.disabled:hover,
.button[disabled]:focus,
.button[disabled]:hover {
    background-color: #D4FF00;
    color: #fefefe
}
.button.disabled.primary,
.button[disabled].primary {
    opacity: 0.25;
    cursor: not-allowed
}
.button.disabled.primary:focus,
.button.disabled.primary:hover,
.button[disabled].primary:focus,
.button[disabled].primary:hover {
    background-color: #D4FF00;
    color: #fefefe
}
.button.disabled.secondary,
.button[disabled].secondary {
    opacity: 0.25;
    cursor: not-allowed
}
.button.disabled.secondary:focus,
.button.disabled.secondary:hover,
.button[disabled].secondary:focus,
.button[disabled].secondary:hover {
    background-color: #767676;
    color: #fefefe
}
.button.disabled.success,
.button[disabled].success {
    opacity: 0.25;
    cursor: not-allowed
}
.button.disabled.success:focus,
.button.disabled.success:hover,
.button[disabled].success:focus,
.button[disabled].success:hover {
    background-color: #3adb76;
    color: #fefefe
}
.button.disabled.warning,
.button[disabled].warning {
    opacity: 0.25;
    cursor: not-allowed
}
.button.disabled.warning:focus,
.button.disabled.warning:hover,
.button[disabled].warning:focus,
.button[disabled].warning:hover {
    background-color: #ffae00;
    color: #fefefe
}
.button.disabled.alert,
.button[disabled].alert {
    opacity: 0.25;
    cursor: not-allowed
}
.button.disabled.alert:focus,
.button.disabled.alert:hover,
.button[disabled].alert:focus,
.button[disabled].alert:hover {
    background-color: #cc4b37;
    color: #fefefe
}
.button.dropdown:after {
    display: block;
    width: 0;
    height: 0;
    border: inset 0.4em;
    content: '';
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: #fefefe transparent transparent;
    position: relative;
    top: 0.4em;
    display: inline-block;
    float: right;
    margin-left: 1em
}
.button.arrow-only:after {
    top: -0.1em;
    float: none;
    margin-left: 0
}
label {
    display: block;
    margin: 0;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.8;
    color: #13140F
}
label.middle {
    margin: 0 0 1rem;
    padding: 0.5625rem 0
}

@media print,
screen and (min-width: 40em) {
    .vertical-nav {
        display: block
    }

    .content h1.hero {
        font-size: 48px
    }
    .logospace {
        width: 64px;
        height: 64px
    }
    .about-body {
        font-size: 2rem
    }
    .item {
        width: 50%;
        float: left;
        padding-right: 0.625rem;
        padding-left: 0.625rem;
        padding-bottom: 50%
    }
}

@media print,
screen and (min-width: 64em) {
    .content {
        width: 83.33333%;
        float: left;
        padding-right: 0.625rem;
        padding-left: 0.625rem;
        position: relative;
        left: 8.33333%
    }
}
@media print,
screen and (min-width: 64em) and (min-width: 40em) {
    .content {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem
    }
}
@media print,
screen and (min-width: 64em) {
    .content h1.hero {
        font-size: 64px
    }
}
@media print,
screen and (min-width: 64em) {
    .clients>li {
        float: left;
        width: 25%;
        padding-right: 0.625rem;
        padding-left: 0.625rem
    }
}
@media print,
screen and (min-width: 64em) and (min-width: 40em) {
    .clients>li {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem
    }
}
@media print,
screen and (min-width: 64em) {
    .clients>li:nth-of-type(1n) {
        clear: none
    }
    .clients>li:nth-of-type(4n+1) {
        clear: both
    }
    .clients>li:last-child {
        float: left
    }
}
 h1, h2, h3, h4, h5, h6  {

 }
 a, .highlight {
 color:#14C38E;
 }
 a:hover {
 color: #b6db00;
 }
 .icon {
 display: inline-block;
 width: 1em;
 height: 1em;
 stroke-width: 0;
 stroke: currentColor;
 fill: currentColor;
 }
 .button {
    font-family: nerd;
 }
 .button.blue {
 border: 1px solid #00c0ff;
 color: #00c0ff;
 }
 .button.blue:focus, .button.blue:hover {
 border: 1px solid #b6db00;
 color: #b6db00; 
 }
 .button.orange {
 border: 1px solid #ff7600;
 color: #ff7600;
 }
 .button.orange:focus, .button.orange:hover {
 border: 1px solid #b6db00;
 color: #b6db00; 
 }
 .button.green {
 border: 1px solid #14C38E;
 color: #14C38E;
 }
 .button.green:focus, .button.green:hover {
 border: 1px solid #b6db00;
 color: #b6db00; 
 }
 #intro:before {
  color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.1;
 }

 .about-body .content-lead {
 color: #fefefe;
 }
 .about-body .content-main {
 color: #8a8a8a;
 }
 .item-inner {
 background: #8a8a8a;
 }
 .contact-info {
 margin: 2rem 0;
 }
 .contact-info h2 {
 line-height: 0.9;
 margin-bottom: 2rem;
 }
 .contact-info span {
 text-transform: uppercase;
 color: #fefefe;
 font-family: nerd;
 }
 /* Home Icons */
 section{
        float: left;
        padding-top: 50px;
        padding-bottom: 100px;
        width: 100%;
        padding-left:0;
        padding-right:0;
}


.icons {
    width:25%;
    float:left;
    position:relative;

}
.icons2 {
    width:25%;
    float:left;
    position:relative;
    margin-left:25%;
}
.icons3 {
    width:25%;
    float:left;
    position:relative;
    margin-left:50%;
}
.icons4 {
    width:25%;
    float:left;
    position:relative;
    margin-left:75%;
}

.icon-slide-container{
    height: 250px;
    overflow:hidden;
    text-align: left;
    position: absolute;
    float: left;
    width: 250px;
    left: 50%;
    margin-left: -150px;
}

.slide-icon{
  width:250px;
  height:auto;
  position:absolute;
  margin-top:-250px;
  -webkit-transition:.4s ease;
  -moz-transition:.4s ease;
  -ms-transition:.4s ease;
  -o-transition:.4s ease;
  transition:.4 ease;
}
    
.slide-icon:hover{
  position:absolute;
  margin-top:0;
  
}
@media only screen and (max-width: 840px) {
    
    .icon-slide-container {
        height: 300px;
        overflow: hidden;
        text-align: left;
        position: absolute;
        float: left;
        width: 300px;
        left: 50%;
        margin-left: -150px;
    }
    
    .slide-icon {
        width: 300px;
        height: auto;
        position: absolute;
        margin-top: -300px;
    }   
    .icons {
        width: 50%;
        float: left;
        position: relative;
    }
    .icons2 {
        width: 50%;
        float: left;
        position: relative;
        margin-left: 50%;
    }
    .icons3 {
        width: 50%;
        float: left;
        position: relative;
        margin-left: 0%;
        margin-top: 350px;
    }
    .icons4 {
        width: 50%;
        float: left;
        position: relative;
        margin-left: 50%;
    }
}
                        
@media only screen and (max-width: 650px) {
    #section{
        width: 90%;
        padding-left:5%;
        padding-right:5%;
    }
    .slide-icon {
        width: 200px;
        height: auto;
        position: absolute;
        margin-top: -200px;
    }
    .icon-slide-container {
        height: 200px;
        width: 200px;
        left: 50%;
        margin-left: -100px;
    }
    .icons3 {
        width: 50%;
        position: relative;
        margin-left: 0%;
        margin-top: 230px;
    }
}
                                  
@media only screen and (max-width: 570px) {
    .slide-icon {
        width: 150px;
        height: auto;
        position: absolute;
        margin-top: -150px;
    }
    .icon-slide-container {
        height: 150px;
        width: 150px;
        left: 50%;
        margin-left: -75px;
    }
    .icons3 {
        width: 50%;
        float: left;
        margin-left: 0%;
        margin-top: 190px;
    }   
}
/* Pricing */
.porange {
    border: 1px solid #ff7600;
}
.pblue {
    border: 1px solid rgb(0, 162, 255);
}

.pgreen {
    border: 1px solid #3adb76;
}


.pcolumns {
    float: left;
    width: 33.3%;
    padding: 8px;
  }
  
.price {
list-style-type: none;
margin: 0;
padding: 0;
-webkit-transition: 0.3s;
transition: 0.3s;
}

.price:hover {
box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
background-color: #111;
color: white;
font-weight: bold;
font-size: 27px;
font-family: nerd;
}

.price .grey {
background-color: rgb(37 37 37);
font-size: 25px;
color: #d8d8d8;
font-family: nerd;
font-weight: bold;
}

.price li {
padding: 10px;
font-size: 22px;
text-align: center;
}
.verysmall {
    font-size: 18px;
}
.month{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    vertical-align: bottom;
}
.cent{
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
}

@media only screen and (max-width: 600px) {
    .pcolumns {
        width: 100%;
    }
}
/* Github Cards */
.card {
    font-family: nerd;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 300px;
  color: #333;
}
.card a {
  color: #ff7600;
  text-decoration: none;
}
.card .card-header {
  padding: 24px 16px;
}
.card .card-header + .card-body {
  margin-top: -24px;
  padding-top: 0;
}
.card .card-suptitle {
  color: #aaa;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  position: relative;
  text-transform: uppercase;
}
.card .card-title {
  font-size: 20px;
  line-height: 28px;
  margin: 0;
}
.card .card-title a, .card .card-title a:visited {
  color: inherit;
}
.card .card-details {
  border-top: 1px solid #ccc;
  font-size: 14px;
  line-height: 24px;
  padding: 16px 16px;
  margin: 24px 0;
}
.card .card-details dt, .card .card-details dd {
  color: #cacaca;
  float: left;
}
.card .card-details dt {
  padding-right: 8px;
}
.card .card-details dd {
  margin: 0;
  padding-right: 16px;
}
.center{
    margin: auto;
    width: 60%;
}
.course {
  border: 1px solid #3a3a3a;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
  height: 200px;
}
.change:hover + .know{
    display: block;
}
.know{
    display:none;
}